* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}
h2,h3,h4{
    text-transform: uppercase;
}
h4{
    color: rgb(136, 136, 136);
}
header {
    background-image: url(img/vr.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row; 
   justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    min-height: 700px;
    color: #fff;
    padding: 100px;
}
header .content img{
    width: 40%;
}
header .content h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 100px;
}
a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 15px 20px;
    text-transform: uppercase;
}

a:hover{
    background-color: rgba(170, 29, 29, 0.993);
    border: none;
    transition: all .5s ease-in-out;
}
.section_1 {
    text-align: center;
    padding: 50px 0px;
    border-bottom: 1px solid #aaa;
}
.section_1 h2{
    font-size: 30px;
    text-transform: uppercase;

}
.section_1 p{
    text-transform: uppercase;
    color: rgb(143, 139, 139);
}
.section_2{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 650px;
    text-align: left;
    margin: 80px 0px;
    padding: 0px 0px 60px 50px ;
    border-bottom: 1px solid #aaa;

}
.section_2 img{
    width: 700px;
    height: 400px;
    margin-right: 40px;
}
.section_2 .num{
    font-size: 50px;
    font-weight: 900;
    color:rgb(151, 67, 67) ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.section_2 a{
    background-color: rgb(151, 67, 67);
    border: none;
}
.section_2 a:hover{
    background-color: #aaa;
}
.section-content p{
    max-width: 350px;
    padding-bottom: 40px;
    margin-right: 30px;

}
.section_3{
    text-align: center;
}
.section_3 h2{
    color: rgb(151, 67, 67);
    padding-bottom: 30px;
}
.section_3 h3{
    font-weight: bold;
}
.section_3 p{
    max-width: 50%;
    margin: auto;
    color: #aaa;
}

.section_4
{
    padding: 50px 20px;
    overflow: hidden;

}
.section_4 .section-content_4
{
    width: 33%;
    text-align: center;
    float: left;
}
.section_4 .section-content_4 .icon {
    display: flex;
}

.section_4 .far{
    font-size: 60px;
    color: rgb(151, 67, 67);
    padding: 20px;
}
.section_4 .fas{
    font-size: 60px;
    color: rgb(151, 67, 67);
    padding: 20px;
}
.section_4 .fab{
    font-size: 60px;
    color: rgb(151, 67, 67);
    padding: 20px;
}

.section_4 .section-content_4 h3 ,
.section_4 .section-content_4 p
{
    padding: 20px;
}
.section_4 .section-content_4 p
{
    color: #868686;
}


.imge {
    width: 100%;
}
.section_5 {
    background-color: rgb(151, 67, 67) ;
    margin-top: -4px;
    width: 100%;
    height: 300px;
    padding: 70px;
    color: white;
    text-align: center;
}
.section_5 h5{
    font-size: 16px;
    margin-bottom: 0;
}
 .section_5 p {
    margin:5px auto  10px;
    padding: 0 20px  20px;
    font-weight: 700;
    font-size: 20px;
    max-width: 500px;

}
.section_6
{
    padding: 50px 20px;
    overflow: hidden;
    height: 250PX;
    position: relative;
}
.section_6 h4{
    text-align: center;
}
.section_6 .fab{
    width: 25%;
    text-align: center;
    float: left;
    font-size: 60px;
    padding: 20px;
}
footer {
    width: 100%;
    min-height: 300px;
    background-color: #aaa;
    padding: 50px;
}
footer .social {
    text-align: center;
    font-size: 35px;
    width: 50%;
    margin: auto;
}
footer .social .fab{
    margin: 0px 30px;
}
footer p {
    text-align: center;
    margin: 30px;
}
footer a{
    border: none;
}